.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background: rgb(0, 14, 143);
}

.container-splash {
    --background: none;
    background: url(../assets/img/fondo.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.splash {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: move 4s linear;
    animation-delay: 4s;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 20em;
  height: 20em;
}
.loader {
  opacity: 1;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear, fade 5s;
  animation-delay: 0s, 3.5s;
}

@keyframes load8 {
  0% {
    
    transform: rotate(0deg);
  }
  100% {
    
    transform: rotate(360deg);
  }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes move {
    0%{
        top: 38%;
    }
    50%{
        top: 8%;
    }
    51%{
        transform: rotateY(360deg)
    }
    100%{
        transform: rotateY(720deg);
        top: 8%;
    }
}

